.box {
    padding: 0.3em;
    background-color: green;
}

h2 {
    background-color: dodgerblue;
    color: white;
}

span {
    background-color: rgb(255 66 66 / 50%);
}


.wrapper {
    display: flex;
}

.box_t {
    width: 200px;
    height: 80px;
    padding: 0.5em;
    border: 1px solid #cccccc;
    margin: 20px;
}

.a {
    background-image: url("https://mdn.github.io/shared-assets/images/examples/balloons.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
}

.b {
    background-image: url("https://mdn.github.io/shared-assets/images/examples/star.png");
    background-repeat: round;
    background-attachment: fixed;
}

.gradient_bg_1 {
    background-image: linear-gradient(
            105deg,
            rgb(0 249 255 / 100%) 39%,
            rgb(51 56 57 / 100%) 96%
    );
}

.gradient_bg_2 {
    background-image: radial-gradient(
            circle,
            rgb(0 249 255 / 100%) 39%,
            rgb(51 56 57 / 100%) 96%
    );
    background-size: 100px 50px;
    background-repeat: round;
}


.box_multi {
    width: 500px;
    height: 80px;
    padding: 0.5em;
    border: 1px solid #cccccc;
    margin: 20px;
}

.box_multi {
    background-image: url("https://mdn.github.io/shared-assets/images/examples/star.png"),
    url("https://mdn.github.io/shared-assets/images/examples/big-star.png");
    background-repeat: repeat, no-repeat;
    background-position: 10px 20px,
    top right;
}


.box_cool {
    width: 500px;
    height: 300px;
    padding: 0.5em;
    background:
            linear-gradient(
                    105deg,
                    rgb(255 255 255 / 20%) 39%,
                    rgb(51 56 57 / 100%) 96%
            )
            center center / 400px 200px no-repeat,
            url("https://mdn.github.io/shared-assets/images/examples/big-star.png")
            center no-repeat,
            rebeccapurple;
}