.box{
    border: 5px darkslategrey solid;
    background-color: hotpink;
    padding: 40px;
    margin: 40px;
    width: 300px;
    height: 150px;
}

.alt_box{
    box-sizing: border-box;
    border: 5px darkslategrey dotted;
    background-color: azure;
    padding: 1em 1em 1em 1em;
    margin: 10px 1em 40px 2em;
    width: 390px;
    height: 220px;
    text-align: center;
}

.box_2 span{
    background-color: azure;
    border: 5px darkslategrey solid;
    padding: 1em;
    display: inline-block;
}

