.box {
    background-color: lightblue;
    border: 5px solid darkblue;
    padding: 10px;
    margin: 1em 0;
}

.wrapper {
    font-size: 1em;
}

.px {
    width: 200px;
}

.vw {
    width: 10vw;
}

.em {
    width: 10em;
}

html {
    font-size: 16px;
}

.ems li {
    font-size: 1.3em;
}

/* the em unit means "my parent element's font-size" if used for font-size, and "my own font-size" when used for anything else.*/

.rems li {
    font-size: 1.3rem;
}

/*the rem unit means "The root element's font-size" (rem stands for "root em")*/


/* if you set an element's font-size as a percentage, it will be a percentage of the font-size of the element's parent.*/

.box {
    background-color: lightblue;
    border: 5px solid darkblue;
    padding: 10px;
    margin: 1em 0;
}
.wrapper {
    width: 400px;
    border: 5px solid rebeccapurple;
}

.px {
    width: 200px;
}

.percent {
    width: 40%;
}

li {
    font-size: 80%;
}

/*numbers*/

.wrapped {
    background-image: url("https://mdn.github.io/shared-assets/images/examples/balloons.jpg");
    background-repeat: no-repeat;
    background-position: bottom left;
    padding: 20px;
}

.box_opacity {
    margin: 40px auto;
    width: 200px;
    background-color: lightblue;
    border: 5px solid darkblue;
    padding: 30px;
    opacity: 0.6;
}

.box_radius {
    padding: 10px;
    margin: 0.5em 0;
    border-radius: 0.5em;
}
.one {
    background-color: antiquewhite;
}

.two {
    background-color: blueviolet;
}

.three {
    background-color: greenyellow;
}

.van {
    background-color: #02798b;
}

.tu {
    background-color: #c55da1;
}

.tri {
    background-color: #128a7d;
}


.one_opac {
    background-color: rgb(2 121 139 / 0.3);
}

.two_opac {
    background-color: rgb(197 93 161 / 0.7);
}

.three_opac {
    background-color: rgb(18 138 125 / 0.9);
}


.box_norepeat {
    height: 200px;
    width: 400px;
    background-image: url("https://mdn.github.io/shared-assets/images/examples/big-star.png");
    background-repeat: repeat-y;
    background-position: right 60px;
    margin: 20px auto;
    border-radius: 0.5em;
    border: 5px solid rebeccapurple;
}


.box::after {
    content: "This is a string. I know because it is quoted in the CSS.";
}

.wrapper_size {
    width: 100px;
}
.box_size {
    padding: 1em;
    border-radius: 0.5em;
    border: 5px solid rebeccapurple;
    background-color: lightblue;
    width: calc(20% + 100px);
}