* {
    box-sizing: border-box;
}

html {
    font-family: "Helvetica", "Arial", sans-serif;
}

body {
    margin: 0 10px;
}

hr {
    margin: 3em 0;
}

h2 {
    margin-top: 0;
}

/* Prev/next control layout */






.controls {
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
}

/* Form and button styling */

form div {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-bottom: 1em;
}

label {
    text-align: right;
    flex: 1;
}

input {
    flex: 3;
}

/* Table styling */

table img {
    width: 100%;
    height: 150px;
}

/*code here ::*/

button,
input,
label {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

input {
    border: 2px solid #999999;
    padding: 10px;
    border-radius: 5px;
}

button {
    background: black;
    border-radius: 5px;
    color: #ffffff;
}
button:hover{
    background: #666666;
}
button:disabled{
    background: #aaaaaa;
}

table{
    table-layout: fixed;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    border-collapse: collapse;
}
th{
    width: 20%;
}

 th:nth-child(4){
    width: 40%;
}

 table tbody tr:nth-child(1) td:nth-child(2){
     background: rgb(255 192 203);
 }


table tbody tr:nth-child(2) td:nth-child(2){
    background: rgb(255 145 175);
}


table tbody tr:nth-child(3) td:nth-child(2){
    background: rgb(255 105 180);
}

table tbody tr:nth-child(4) td:nth-child(2){
    background: rgb(255 0 255);
}

tr:nth-child(odd){
    background: #eeeeee;
}

caption{
    text-align: center;
    padding: 1em;
    letter-spacing: 1px;
    caption-side: bottom;
}


img{
    width: 100%;
    object-fit: cover;
}