* {
    box-sizing: border-box;
}

html {
    font-family: "Helvetica", "Arial", sans-serif;
}

body {
    margin: 0 10px;
}

hr {
    margin: 3em 0;
}

h2 {
    margin-top: 0;
}

/* Prev/next control layout */

button,
input,
label {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}





.controls {
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
}

/* Form and button styling */

form div {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-bottom: 1em;
}

label {
    text-align: right;
    flex: 1;
}

input {
    flex: 3;
}

/* Table styling */

table img {
    width: 100%;
    height: 150px;
}




