* {
    box-sizing: border-box;
}

body {
    background-color: white;
    color: #333333;
    font:
            1em / 1.4 "Helvetica Neue",
            "Helvetica",
            "Arial",
            sans-serif;
    padding: 1em;
    margin: 0;
    width: 500px;
}


/* Don't edit the code above here! */

/* Add your code here */


label,
input,
select,
button
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font: inherit;
    font-size: 110%
}

li{
    display: flex;
}

li:last-of-type {
    margin-top: 30px;
}

label{
    flex: 0 40%;
    text-align: right;
    padding-right: 10px;
}

input,
select {
    flex: auto;
    height: 2em;
}

input,
select,
button{
    margin: 0 auto;
    padding: 5px 10px;
    border: 1px solid #cccccc;
    border-radius: 3px;
}




select{
    padding: 5px;
}



button{
    margin: 0;
    padding: 5px 15px;
    line-height: 1;
}

button:hover,
button:focus{
    background-color: orangered;
}
