.box {
    border: 1px solid #333333;
    width: 250px;
    height: 100px;
}


.word {
    border: 1px solid #333333;
    width: 100px;
    font-size: 250%;
}


.box {
    overflow: hidden;
}


.box_scroll {
    border: 1px solid #333333;
    width: 250px;
    height: 100px;
    overflow: scroll;
}


body {
    font: 1.2em / 1.5 sans-serif;
}

.box_t1 {
    border: 5px solid black;
    padding: 1em;
    height: 200px;
    width: 300px;
    overflow: auto;
}

.box_t2 {
    border: 5px solid black;
    height: 200px;
    width: 300px;
    overflow: hidden;
}