.first {
    font-size: 110%;
    font-weight: bold;
}

div:first-child{
    font-style: italic;
}

article p {
    font-size: 140%;
    font-weight: bold;
}

article p:hover{
    color: blue;
}

article p:last-child {
    background-color: orange;
}

article p::selection {
    background-color: yellow;

}

.box::after {
    content: "This should show before the other content. ";
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
    border: 1px solid black;
} /*bu şekilde cssten içerik enjekte edebiliyoruz*/