html{
    font-family : Helvetica, Arial,sans-serif;
}

table{
    table-layout: fixed;
    width: 90%;
    margin: 10px auto;
    border-collapse: collapse;
}
th, td{
    padding: 0.6em;
}




tr :nth-child(2),
tr :nth-child(3){
    text-align: right;
    width: 15%;
}

tr :nth-child(1),
tr :nth-child(4){
    text-align: left;
    width: 35%;
}

tfoot tr:nth-child(1){
    text-align: right;
}

th,
td {
    vertical-align: top;
    padding: 0.3em;
}

tfoot {
    border-top: 1px solid #999999;
}

table{
    width: 90%;
    margin: 10px auto;
    border-collapse: collapse;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    color: #cccccc;
}

caption{
    padding: 1em;
    font-style: italic;
    caption-side: bottom;
    letter-spacing: 1px;
}

tbody tr:nth-child(odd) {
    background:  linear-gradient(
            105deg,
            rgb(0 0 0 / 30%) 59%,
            rgb(165 52 111  / 100%) 96%
    );
}

tbody tr:nth-child(even) {
    background:  linear-gradient(
            105deg,
            rgb(165 52 111  / 100%) 59%,
            rgb(0 0 0 / 100%) 100%,

    );
}





body{
    background: #28587b;
}